<?xml version="1.0"?>
 <!--
 * Mavenbird Technologies Private Limited
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://mavenbird.com/Mavenbird-Module-License.txt
 *
 * =================================================================
 *
 * @category   Mavenbird
 * @package    Mavenbird_OneStepCheckout
 * @author     Mavenbird Team
 * @copyright  Copyright (c) 2018-2024 Mavenbird Technologies Private Limited ( http://mavenbird.com )
 * @license    http://mavenbird.com/Mavenbird-Module-License.txt
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">    
    <type name="Magento\Checkout\Controller\Index\Index">
        <plugin name="plugin_checkout" type="Mavenbird\OneStepCheckout\Plugin\Checkout\Controller\Index\Index"/>
    </type>
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="osc_plugin_layoutprocessor" type="Mavenbird\OneStepCheckout\Plugin\Checkout\Block\LayoutProcessor" sortOrder="999"/>
    </type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="mavenbird_checkout_config" xsi:type="object">Mavenbird\OneStepCheckout\Model\CheckoutConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Block\Product\AbstractProduct">
        <plugin name="mavenbird_redirect_to_checkout" type="Mavenbird\OneStepCheckout\Plugin\Checkout\Block\Product\AbstractProduct"/>
    </type>
    <type name="Magento\Framework\View\Page\Config\Renderer">
        <plugin name="mavenbird_onestepcheckout_page" type="Mavenbird\OneStepCheckout\Plugin\View\Page\Config\Renderer" />
    </type>
    <type name="\Magento\Checkout\Block\Checkout\AttributeMerger">
        <plugin name="mavenbird_onestepcheckout_attribute_merger" type="Mavenbird\OneStepCheckout\Plugin\AttributeMergerPlugin"/>
    </type>

    <type name="\Magento\Wishlist\Controller\Index\Cart">
        <plugin name="wishlistredirectAddTocart" type="Mavenbird\OneStepCheckout\Plugin\WishlistRedirectCheckout"/>
    </type>
</config>
